.bt
    border-radius 5px
    border-style solid
    border-width 1px 
    box-shadow sombra_button
    color #fff
    display inline-block
    font-family roboto
    font-size .9rem
    font-weight 600
    margin .5rem 
    padding .6rem 1rem
    .bt-blue
        background-color #3498db
        border-color #3498db
    .bt-green
        background-color #2ecc71
        border-color #2ecc71
    .bt-red
        background-color #e74c3c
        border-color #e74c3c    
    .bt-yellow
        background-color #f1c40f
        border-color #f1c40f    

